{% extends 'index/page.html.twig' %}

{% block pageTitle %}Help - Adding Events{% endblock %}

{% block content %}
<div class='abc-help'>
  <h2>Thanks!</h2>
  <p>Firstly, <b>thanks</b> for wanting to add a new event! This calendar depends on our users adding the events they know about
     so that all parents can discover the things happening near them. By adding events, you're improving everyone's access
     to high quality children's events</p>

  <h2>Adding Events</h2>
  <p>(This is an abbreviation of the full OpenACalendar docs, available <a href='http://docs-users.openacalendar.org/en/v1.6.x/'>here</a>)</p>
  <p>In order to create new events on the site, you'll need to follow this checklist:</p>
  <ul>
    <li>Have a registered account, and be logged in</li>
    <li>Click the "Events" menu, just under the site logo at the top of the page</li>
    <li>Click the "Add an Event" entry at the bottom</li>
    <li>If this is not a "one-off" event, search for or create a Group</li>
    <li>Fill out the Event Information page (only the summary is required, but the description is helpful!)</li>
    <li>Put in a start & end date/time (you'll have the option to adjust it on the next page)</li>
    <li>Select or create a venue (or say you don't know - even partial info for events you've heard of is useful!)</li>
    <li>Read over the summary and confirm the event creation</li>
  </ul>
</div>

{% endblock %}
